<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div>
                    <button class="btn btn-info"
                            data-ng-click="vm.goBack()">
                        <i class="glyphicon glyphicon-hand-left"></i>Back
                    </button>
                    <button class="btn btn-info"
                            data-ng-click="vm.cancel()"
                            data-ng-disabled="!vm.canSave">
                        <i class="glyphicon glyphicon-refresh"></i>Cancel
                    </button>
                    <button class="btn btn-info"
                            data-ng-click="vm.save()"
                            data-ng-disabled="!vm.canSave">
                        <i class="glyphicon glyphicon-save"></i>Save
                    </button>
                    <button class="btn btn-danger"
                            data-ng-click="vm.deleteSession()">
                        <i class="glyphicon glyphicon-trash"></i>Delete
                    </button>
                    <span data-ng-show="vm.hasChanges"
                          class="dissolve-animation ng-hide">
                        <!--<i class="icon-asterisk icon-asterisk-large"></i>-->
                        <i class="glyphicon glyphicon-asterisk"></i>
                        
                    </span>
                </div>
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.product.name}}"></div>

                    <div class="widget-content user">
                        <div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Name</label>
                                <input data-ng-model="vm.product.name" class="form-control" z-validate
                                       placeholder="Product name" />
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Product Number</label>

                                <input data-ng-model="vm.product.productNumber" class="form-control" z-validate
                                       placeholder="Product name" />
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Color</label>

                                <input data-ng-model="vm.product.color" class="form-control" z-validate
                                       placeholder="Product color" />
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Category</label>
                                <select data-ng-options="t.name for t in vm.categories" class="form-control" z-validate
                                        data-ng-model="vm.product.productCategory"></select>
                                <!--<input data-ng-model="vm.product.productCategoryID" class="form-control" z-validate
                                       placeholder="Product name" />-->
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Model</label>
                                <select data-ng-options="t.name for t in vm.models" class="form-control" z-validate
                                        data-ng-model="vm.product.productModel"></select>
                                <!--<input data-ng-model="vm.product.productModelID" class="form-control" z-validate
                                       placeholder="Product name" />-->
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Size</label>

                                <input data-ng-model="vm.product.size" class="form-control" z-validate
                                       placeholder="Product name" />
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Sell Start</label>

                                <input data-ng-model="vm.product.sellStartDate" class="form-control" z-validate
                                       placeholder="Product name" />
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Sell End</label>

                                <input data-ng-model="vm.product.sellEndDate" class="form-control" z-validate
                                       placeholder="Product name" />
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Standard Cost</label>

                                <input data-ng-model="vm.product.standardCost" class="form-control" z-validate
                                       placeholder="Product name" />
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">List Price</label>

                                <input data-ng-model="vm.product.listPrice" class="form-control" z-validate
                                       placeholder="Product name" />
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</section>
